/* Universal style */
*{
    margin: 0%;
    padding: 0%;
}

/* Shared Style  */
.font-quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.flex{
    display: flex;
}
.max-width{
    max-width: 1160px;
    margin: 0 auto;
}
.btn{
    color:rgba(255, 255, 255, 1) ;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 10px 61px;
    background-color:Orange ;
    border-radius: 12px;
    border: none;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
}
.center-align{
    text-align: center;
}
/* Heading Section Style */
/* NAvigation-bar Style  */
.navigation-bar{
    justify-content: space-evenly;
    gap: 186px;
    margin-top: 20px ;
    align-items: center;
}
.left-logo {
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    gap: 11px;
}
.items{
    list-style: none;
    gap: 32px;
}
.items a{
    text-decoration: none;
    font-size: 1.25rem;
}
.item-1 a{
    font-weight: 700;
    color: orange;
}
.common-weight{
    font-weight: 500;
}


/* banner Section  Style*/
.banner-section{
    justify-content: space-between;
    align-items: center;
}
.banner-text{
    max-height: 640px;
}
.title{
    font-weight: 700;
    font-size: 3.5rem;
}
.semi-title{
    font-size: 1.25rem;
    margin-top: 24px;
    margin-bottom: 24px;
}
.banner-btn{
    background-color: black;
}
/*Standard Curriculam Section style */
.standard-curriculam-section{
    background-image: url(../Assets/bg.png);
}
.section-title{
    padding-top: 60px;
    padding-bottom: 80px;
    font-weight: 700;
    font-size: 2.875rem;
}
.curriculam-card-caontainer{
    justify-content: center;
    gap: 28px;
}
.base-card{
    box-shadow: 0 0 28.3px  rgba(0, 0, 0, 0.05);
    border-radius: 18.9px;
    padding: 52px 40px ;
    text-align: center;
    transition: transform 0.5s ease;
}
.base-card:hover{
    transform: scale(1.03);
}
.base-card > *{
    margin-bottom: 33px;
}
.kinder-card{
    background-image: linear-gradient(rgba(222, 245, 255, 1),rgba(255, 255, 255, 0));
}
.elementry-card{
    background-image: linear-gradient(rgba(255, 244, 220, 1),rgba(255, 255, 255, 0));
}
.middle-card{
    background-image: linear-gradient(rgba(238, 225, 255, 1),rgba(255, 255, 255, 0));
}
.card-title{
    font-weight: 700;
    font-size:1.5rem ;
}
.card-description{
    color: rgba(128, 128, 128, 1);
}
.curr-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}
.curr-link-kinder{
    color: rgba(100, 200, 255, 1);
}
.curr-link-elementry{
    color: rgba(240, 170, 0, 1);
}
.curr-link-middle{
    color:rgba(135, 0, 255, 1) ;
}
.arrows{
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
    margin-bottom: 50px;
    
}
.left-arrow{
    background-color: orange;
    border-radius: 50%;
    padding: 19px 22px;
    transition: transform 0.4s ease;
}
.left-arrow:hover{
    transform: scale(1.04);
    background-color:rgb(81, 155, 187) ;
}

/* Our-Stories-Section Style  */
.Our-Stories-Section{
    background-image:url(../Assets/bg.png) ,linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%) ;
}
.story-card-container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 19px;
}
.story-card{
    background-color: white;
    border-radius: 16px;
}
.story-card img{
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.story-card-big{
    grid-row: span 2;
}
.story-card-big h4{
    margin-top: 45px;
    padding: 0 30px;
    max-width: 402px;
}
.story-card-big p{
    margin-top: 20px;
    padding: 0 30px;
    max-width: 433px;
    margin-bottom: 30px;
}
.big-card-info{
    position: relative;
}
.big-story-card-btn{
    border: none;
    display: block;
    padding: 15px 19px;
    border-radius: 48px;
    font-weight: 500;
    font-size: 0.97rem;
    position: absolute;
    background-color: rgba(60, 216, 232, 1);
    left: 38px;
    top: -80px;
}
.small-card-title{
    max-width: 198px;
    font-weight: 700;
    font-size: 0.98rem;
    color: rgba(0, 0, 0, 1);
    padding: 30px 54px 33px 37px;
}
.card-info{
    position: relative;
}
.small-card-btn{
    border: none;
    border-radius: 48px;
    padding: 9.5px 18px 10.5px 19px;
    background-color: rgba(149, 178, 38, 1);
    font-weight: 500;
    font-size: 0.98rem;
    position: absolute;
    left: 19px;
    top: -30px;
    text-align: center;
}
.small-card-btn2{
    background-color: rgba(93, 88, 240, 1);
}
.story-sec-btn{
    padding-top: 80px;
    padding-bottom: 50px;
}
.story-btn{
    background-color: black;
    padding: 15px 50px ;
}
/* Mobile Devices Style  */
@media screen and (max-width:576px) {
    
    .middle-links,.right-btn,.logo-text,.arrows,.story-card-big{
        display: none;
    }
    .navigation-bar{
        justify-content: space-between;
        gap: 0px;
        margin: 20px;
    }
    .menu-bar,hr{
        display: block !important;
    }
    .banner-section{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-image img{
        width: 92%;
    }
    .title{
        font-size: 2rem;
    }
    .semi-title{
        font-weight: 500;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .banner-btn{
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 1rem;
    }
    
    .curriculam-card-caontainer{
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }
    .story-card-container{
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        margin: 0px auto;
        column-gap: 10px;
    }
    .story-card{
        width: 93%;
    }
    
    .Our-Stories-Section{
        width: 100%;
        margin: 0 auto;
    }
    .small-card-title{
        padding-left: 20px;
        padding-right: 20px;
    }
    .small-card-btn{
        left: 3px;
    }
}